@font-face {
  font-family: "BioRhyme";
  src: url("../fonts/BioRhyme-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "BioRhyme", sans-serif;
}
.light-theme {
  --white: #ffffff;
  --primary: #038970;
  --primary_dark: #005849;
  --section_bg: rgba(234, 253, 251, 0.8);
}
html,
body {
  height: 100%;
  width: 100%;
  line-height: normal;
  -webkit-text-size-adjust: 100%;
}
body {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: auto;
}
.none {
  display: none;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.button_r {
  background: var(--primary);
  text-align: center;
  padding: 10px 15px;
  color: #fff;
  font-size: 14px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: 0 !important;
  display: inline-block;
  transition: all 0.2s ease-out;
}
.button_r:hover {
  transform: translateY(-2px) scale(1.005);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.11), 0 6px 9px rgba(70, 80, 80, 0.48)
}
.button_r:active {
  transform: translateY(2px) scale(0.995);
  box-shadow: none;
}
